fastapi
uvicorn[standard]
pydantic
sqlalchemy
psycopg2-binary # O asyncpg si prefieres drivers asíncronos para DB
python-multipart
pyjwt
passlib[bcrypt]
python-decouple
rq
redis
# Dependencias de YoloV8 y OpenCV
ultralytics
torch # o torch-cpu para CPU only si no tienes GPU
torchvision
opencv-python
pytesseract
Pillow # A menudo una dependencia de pytesseract
numpy # Generalmente ya instalada, pero es bueno asegurarlo